Django==1.11{% if cookiecutter.use_psql == 'yes' %}
psycopg2==2.7.1{% endif %}
{% if cookiecutter.use_mysql == 'yes' %}mysql-python==1.2.5{% endif %}
{% if cookiecutter.DjangoCMS == 'yes' %}django-cms==3.4.2{% endif %}
django-compressor==2.1.1